.navbar-default {
	width: device-width;
	background-color: #2E94B9;
}

.navbar-default .navbar-brand {
	padding-left: 20px;
	color: #F0FBFF;
}

.navbar-default .navbar-brand:hover{
	color: #333;
}

h3 {
	color: #24728f;
}
h2 {
	color: #24728f;
}

.navbar-default .navbar-nav .active li a {
	color: #3174AD;
	background-color: #F0FBFF;
}

.navbar-default .navbar-nav li a {
	color: white;
}

div .rbc-event{
	background-color: #e6be0a;
}

.rbc-event.rbc-selected {
	background-color: #2E94B9;
}

.navbar-default .navbar-toggle{
	background-color: #F0FBFF;
}

.login {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
}

.graphChoice {
	padding-left: 15px;
}

div .listObject {
	border: groove;
	border-radius: 10px;
	border-color: #F0FBFF;
	height: 16vh;
  width: 100%;
  background-color: #F0FBFF;
  margin-bottom: 5px;
}

.list {
	height: 60vh;
	overflow: scroll;
}
.list h3 {
	margin-top: 5px;
	margin-left: 5px;
}
.list h4 {
	margin-left: 5px;
}
div .well {
	margin-left: 15px;
	margin-top: 20px;
}
.wellTitle {
	margin-left: 15px;
}

.logo {
	font-family: ;
}