.navbar-default {
	width: device-width;
	background-color: #2E94B9;
}

.navbar-default .navbar-brand {
	padding-left: 20px;
	color: #F0FBFF;
	font-family: 'Muli';
}

.navbar-default .navbar-brand:hover{
	color: #333;
}

h3 {
	color: #24728f;
	font-family: 'Raleway';
}
h2 {
	color: #24728f;
	font-family: 'Raleway';
}
h4 {
	color: #24728f;
	font-family: 'Raleway';
}

.navbar-default .navbar-nav li a:hover{
	color: #2E94B9;
	background-color: #F0FBFF;
}
.navbar-default .navbar-nav li a:active{
	color: #2E94B9;
	background-color: #F0FBFF;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-family: 'Raleway';
}

div .rbc-event{
	background-color: #e6be0a;
}

.rbc-event.rbc-selected {
	background-color: #2E94B9;
}

.navbar-default .navbar-toggle{
	background-color: #F0FBFF;
}

.tdDate {
	display: inline;
}

.login {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
    font-family: 'Muli';
}

.graphChoice {
	padding-left: 15px;
}

div .listObject {
	border: solid;
	border-radius: 7px;
	border-color: #2E94B9;
	border-width: 1px;
	height: 12vh;
  	width: 100%;
  	background-color: #F0FBFF;
  	margin-bottom: 5px;
  	position: relative;
  	margin-top: 5px;
}

.list {
	height: 60vh;
	overflow: scroll;
	border: outset;
	border-color: #F0FBFF;
	background-color: ;
}
.list h3 {
	margin-top: 5px;
	margin-left: 7px;
	font-family: 'Muli';
}
.list h4 {
	margin-left: 7px;
	font-family: 'Raleway';
}

div .well {
	margin-left: 15px;
	margin-top: 20px;
}
.wellTitle {
	margin-left: 15px;
}

.logo {
	font-family: ;
}

.eventFeeling {
	text-transform: uppercase;
}

.eventIn {
	display: inline-block;
	border: none;
	color: white;
	padding: ;
	text-decoration: none;
	background-color: #2E94B9;
	float: right;
	border-radius: 0px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	padding: 4.1vh 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: 'Raleway';
	font-size: 14px;
}

.dropDown {
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #F0FBFF;
	overflow: scroll;
	width: 45vh;
}

.dropdown-menu li a:hover {
	background-color: #F8DA5B;
}